<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="catalogo.css">
    <!-- FAVICON -->
    <link rel="icon" href="../public/img/favicon/favicon.ico">
</head>
<body>
    <div class="lds-ring loader" id="loader"><div></div><div></div><div></div><div></div></div>
    <h1>Catálogo</h1>
    <a href="/index.html">Atras</a>
    <div class="container">
        <section class="container-producto">
            <article class="img-producto">
                <img src="../public/img/cervezas/honey.jpg" alt="">
            </article>
            <article class="txt-producto">
                <h2 class="title-producto">Honigbier</h2>
                <p class="caracteristicas-producto">La cerveza de Miel es suave, seca y refrescante, con tonos de miel en el aroma y post-gusto.Color: Bronce% de azúcar del mosto: 1.062Cepa de Levadura: Ale europeaTemp. recomendada: 5º - 7ºPresentación: Tirada</p>
            </article>
        </section>

        <section class="container-producto">
            <article class="img-producto">
                <img src="../public/img/cervezas/kolsch.jpg" alt="">
            </article>
            <article class="txt-producto">
                <h2 class="title-producto">Kölsch</h2>
                <p class="caracteristicas-producto">De color amarillo pálido coronada por una capa de espuma blanca densa cremosa y sedosa con un sabor inicial dulce que evoluciona con toques ligeramente cítricos.</p>
            </article>
        </section>

        <section class="container-producto">
            <article class="img-producto">
                <img src="../public/img/cervezas/Schwarbier.png" alt="">
            </article>
            <article class="txt-producto">
                <h2 class="title-producto">Schwarbier</h2>
                <p class="caracteristicas-producto">Se cocina con maltas oscuras otorgando un sepia muy profundo, sabor suave, bien balanceado y seco, sin presencia de astringencia. Su espuma suave y persistente hace un festín de aromas a café y pan tostado dentro de la copa generando una intensa experiencia organoléptica.</p>
            </article>
        </section>

        <section class="container-producto">
            <article class="img-producto">
                <img src="../public/img/cervezas/Amber-Lager.jpg" alt="" class="img-4">
            </article>
            <article class="txt-producto">
                <h2 class="title-producto">AMERICAN Amber Larger</h2>
                <p class="caracteristicas-producto">Una cerveza artesanal súper equilibrada, con un buen amargor (su IBU es de 32), de aromas y sabores a malta, caramelo y lúpulo.</p>
            </article>
        </section>

    </div>
    <script src="catalogo.js"></script>
</body>
</html>