<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerro Grande</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/normalize.css">
    <!-- FONT AWSOME -->
    <script src="https://kit.fontawesome.com/e8cd0e84d1.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="logo">Logo</div>
            <div class="menu-hamburguesa" id="menu-hamburguesa"><i class="fa-solid fa-bars" id="icono__menu-hamburguesa"></i></div>
            <ul class="nav" id="nav">
                <li><a href="#showcase" id="opcion">Inicio</a></li>
                <li><a href="#nosotros" id="opcion">Nosotros</a></li>
                <li><a href="#contacto" id="opcion">Contacto</a></li>
                <li><a href="#redes-sociales" id="opcion">Redes Sociales</a></li>
            </ul>
        </header>
        <main>
            <section class="showcase" id="showcase">

            </section>
            <section class="nosotros" id="nosotros">

            </section>
            <section class="contacto" id="contacto">

            </section>
            <section class="redes-sociales" id="redes-sociales">

            </section>
        </main>
        <footer class="footer"></footer>
    </div>
    <script src="/views/script.js"></script>   
</body>
</html>