@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #f3f3f3;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

h2{
    cursor: pointer;
}

.container{
    position: relative;
}

.header{
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.logo{
    background: rgb(80, 57, 57);
    width: 130px;
    height: 110px;
    margin-left: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.menu-hamburguesa{
  width: 40px;
  height: 40px;
  background: rgb(93, 51, 35);
  border-radius: 10px;
  position: fixed;
  top: 50px;
  right: 20px;   
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-hamburguesa:active{
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .3);
}

.fa-solid{
    color: #fff;
    font-size: 25px;
}

.nav{
    width: calc(50%);
    height: 100vh;
    background-color: rgba(243, 169, 9, 0.935);
    border-left: solid 3px rgba(0, 0, 0, 0.57);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(110%);
    transition: transform .3s ease;
    z-index: 50;
}

.desplazar{
    transform: translateX(0%);
}

.nav li a{
 text-decoration: none;
 font-size: 23px;
 font-weight: bold;
 color: rgb(93, 51, 35);
}

.nav li a:hover{
    text-decoration: underline solid 3px;
}


/*SHOWCASE*/
.showcase{
    width: 100%;
    height: 40vh;
    background-image: url(../public/img/showcase.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

.showcase h1{
    margin-top: 50px;
    color: rgb(43, 21, 13);
}

.ver-mas{
    background-color: rgb(242, 242, 242, .5);
    text-decoration: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #000;
    display: none;
}
.ver-mas:hover{
    font-weight: bold;
    background-color: #f2f2f2;
}

/*NOSOTROS*/
.nosotros{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23d59a0f' fill-opacity='0.27'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    position: relative;
    border-bottom: solid 3px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.nosotros h2{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:rgb(93, 51, 35);
    color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 10px;
}

.nosotros p{
    padding: 0px 20px;
    color: #f2f2f2;
}

.nosotros img{
    width: 200px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

/*ENCONTRANOS*/
.encontranos{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../public/img/cream-fabric-with-illustrated-craft-beer-bottles-Dear-Stella-249307-1.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: solid 3px black;
    flex-direction: column;
}

.encontranos h2{
    margin-bottom: 40px;
    background-color:rgb(93, 51, 35);
    color: #f3f3f3;
    padding: 5px 10px;
    border-radius: 10px;
}

.encontranos iframe{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .8);
}

/*CONTACTO*/
.contacto{
    width: 100%;
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235d3323' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.form{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
}

.form__container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__title{
    color: #f3f3f3;
    background-color: rgb(93, 51, 35);
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.form__input{
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    background: inherit;
    border-bottom: solid 2px rgb(93, 51, 35);
}

.form__input--message{
    height: 200px;
    border: solid 2px rgb(93, 51, 35);
    border-radius: 10px;
}

/*Boton de Enviar*/
.button{
    width: 100%;
    position: relative;
    padding: 8px 16px;
    background: rgb(93, 51, 35);
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(130, 70, 46);
}
.button:active{
    background: rgb(130, 70, 46);
}

.button__texto{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    transition: all .2s;
}

.button--loading .button__texto{
    visibility: hidden;
    opacity: 0;
}

.button--loading::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    /* background: red; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}   

@keyframes button-loading-spinner{
    from{
        rotate: (0turn);
    }
    to{
        transform: rotate(1turn);
    }
}


/*REDES-SOCIALES*/
.redes-sociales{
    width: 100%;
    height: 30vh;
    background-color: #d59a0f;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.redes-sociales h2{
    color: #000;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, .8);
}

.icon-container{
    display: flex;
}

.icon{
    position: relative;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-radius: 50%;
    transition: all .8s;
}

.icon:hover{
    background-color: #e60073;
    box-shadow: 0 0 20px #e60073;
}

.icon:nth-child(2):hover{
    background-color: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon:nth-child(3):hover{
    background-color: #25d366;
    box-shadow: 0 0 20px #25d366;
}

.icon:nth-child(4):hover{
    background-color: #1da1f2;
    box-shadow: 0 0 20px #1da1f2;
}

.icon i{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
}

svg circle{
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle{
    stroke-dasharray: 220;
}

/*FOOTER*/
.footer{
    height: 25vh;
    width: 100%;
    background: rgb(93, 51, 35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer h2{
    color: #fff;
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    font-weight: 200;
}


/*COPYRIGHT*/
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.copyright p{
    padding: 10px;
    color: white;
    font-size: 10px;
}

/*LOADER*/

.lds-ring {
    display: inline-block;
    position: relative;      
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.loader{
    background: rgba(0, 0, 0, 0.994);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path .7s 3s ease-in-out;
}

.loader2{
    clip-path: circle(0% at 100% 100%);

}

.reloj{
    color: #fff;
    background: #000;
    font-family: monospace;
    /* padding: 5px; */
    font-size: 1rem;
    min-width: 200px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


@media screen and (min-width:400px) {
    .showcase{
        width: 100%;
        height: 40vh;
        background-image: url(../public/img/fondo-cervezaIII.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .nosotros{
        background-color: #000;
    }
    .nosotros p{
        padding: 0px 20px;
        color: #fff;
        width: 90%;
    }
}

@media screen and (min-width:700px){
    .nosotros h2{
        margin-bottom: 70px;
    }
    .nosotros p{
        width: 60%;
    }
    .showcase{
        height: 30vh;
    }
    .encontranos iframe{
        width: 100%;
    }
    .form{
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px black;
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    } 
}

@media screen and (min-width:900px) {
    .header{
        height: 50vh;
    }
    .showcase{
        height: 50vh;
    }
    .menu-hamburguesa{
        display: none;
    }
    .header{
        position: relative;
    }
    .nav{
        height: 20vh;
        width: fit-content;
        position: relative;
        background-color: #f2f2f2;
        border-left: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(0%);
    }   
    .nav li a{
        font-size: 20px;
        font-weight: bold;
        color: rgb(93, 51, 35);
        margin: 0px 15px;
        padding: 5px 7px;
        transition: all .1s ease;
       }
       
    .nav li a:hover{
        text-decoration: none;
        background: #5d3323;
        border-radius: 5px;
        color: #f2f2f2;
    }
    .ver-mas{
        display: block;
        position: absolute;
        top: 40%;
    }
    .nosotros img{
        width: 300px;
    }
    .encontranos{
        height: 100vh;
    }
    .icon{
        margin: 0px 40px;
    }
    .form{
        width: 60%;
    }
}

@media screen and (min-width:1200px){
    .header{
        width: 80%;
        margin: 0 auto;
    }
    .nav li a{
        font-size: 22px;
    }
    .nosotros{
        height: 100vh;
    }
    .nosotros h2{
        margin-top: 40px;
    }
    .nosotros p{
        width: 60%;
    }
    .contacto{
        background-color: #f2f2f2;
        background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%235d3323' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    .form{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px black;
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(2px);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .3);
    } 
}