*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.container{
    position: relative;
}

.header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.logo{
    background: #fff;
    font-size: 30px;
    margin-left: 30px;
    padding: 5px 10px;
}

.menu-hamburguesa{
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  right: 20px;   
  z-index: 100;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid{
    color: #fff;
    font-size: 25px;
}

.nav{
    width: calc(50%);
    height: 100vh;
    background-color: yellow;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0px;
    right: 0px;
    transform: translateX(110%);
    transition: transform .3s ease;
}

.desplazar{
    transform: translateX(0%);
}

.nav li a{
 text-decoration: none;
 font-size: 20px;
 color: #000;
}

/*SHOWCASE*/
.showcase{
    width: 100%;
    height: 40vh;
    background-color: rgb(62, 56, 56);
}

/*NOSOTROS*/
.nosotros{
    background-color: aquamarine;
    width: 100%;
    height: 50vh;
}

/*CONTACTO*/
.contacto{
    width: 100%;
    height: 50vh;
    background-color: bisque;
}

/*REDES-SOCIALES*/
.redes-sociales{
    width: 100%;
    height: 50vh;
    background-color: blue;
}

/*FOOTER*/
.footer{
    height: 25vh;
    width: 100%;
}